.shdbox{ box-shadow: 0px 0px 10px 0px #ddd;}
.cardshowcon{}
.cardshowlt{ float: left;width: 864px;}
.cardshowrt{ float: right; width:316px; }
.cshowmain{border: 1px solid #e4e4e4;}
.cardshowcon .maintit{ background: #e3ebf2;}
.cardshowcon .maintit strong{ font-size: 18px; font-weight: normal; color: #275aba;line-height: 54px; position: relative;  padding-left: 26px; display: block; }
.cardshowcon .maintit strong:before{ content: ""; top: 16px; width: 3px; height: 24px; background: #275aba; left: 12px; position: absolute;}
.cardparas{ padding: 40px;}
.cardparas .prodimg{ float: left; width:378px; height: 328px; }
.cardparas .dlprod{ margin-left: 424px; line-height: 60px;font-size: 16px;color: #5d5d5d; }
.cardparas .dlprod dt,.cardparas .dlprod dd{ min-height: 60px;}
.cardparas .dlprod dt{ float: left; width: 80px; position: relative; }
.cardparas .dlprod dt:after{ position: absolute; content: ":"; right: 0px;}
.cardparas .dlprod dd{ margin-left: 118px;}
.cardparas .dlprod dd h1{ font-size: 24px; font-weight: normal; color: #2e2e32;}
.cardparas .dlprod .price{ color: #ef4e23;}
.cardparas .dlprod .price strong{ font-size: 30px; font-weight: normal;}
.cardhuitit{ line-height: 52px; border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; margin-bottom: 20px;}
.cardhuitit strong{ font-size: 22px; font-weight: normal;color:#ef4e23; position:relative; display: inline-block; padding: 0px 20px 0px 30px;}
.cardhuitit span{ color: #275aba; font-size: 16px; margin-left: 16px; }
.cardhuitit strong:after{ height: 32px; width: 1px; background: #e4e4e4; top: 12px; right: 0px; position: absolute; content: "";}
.dlcardinfo{}
.dlcardinfo dt{ border-bottom: 2px solid #6c6968;}
.dlcardinfo dt a{ background:#6c6968; border-radius: 4px 4px 0px 0px; line-height: 28px; display: inline-block; margin-left:56px; font-size: 15px; color: #fff;
    padding: 0px 24px; position: relative;}
.dlcardinfo dt a.on{background:#275aba;}
.dlcardinfo dt a:after{ content: ""; position: absolute; border-width:6px 6px 0px 6px;
    border-style:solid; border-color:#6c6968 transparent transparent transparent; bottom: -8px; left: 45%;}
.dlcardinfo dt a.on:after{border-color:#275aba transparent transparent transparent;}
.dlcardinfo dd{ padding: 38px 30px; font-size:18px; color: #6c6968; line-height: 30px;min-height: 430px; }
.dlcardinfo dd cite{display: block; font-style: normal;}
.dlcardinfo dd h5{ font-size: 18px; font-weight: normal; line-height: 50px;}
.dlcardinfo dd p{ text-indent: 2em;}

.cardshowrt .mapbox{ padding: 6px 0px 6px 6px; margin-bottom: 16px;}
.cardshowrt .mapbox img{ width: 306px; display: block;}
.cardshowrt .rtbox{}
.cardshowrt .ulguess{ margin:0px 10px; color: #3b3b3b; font-size: 16px; padding-bottom: 16px;}
.cardshowrt .ulguess li{ border-bottom: 1px solid #e2e2e2; padding:16px 12px 12px;}
.cardshowrt .ulguess li:last-child{ border-bottom: none;}
.cardshowrt .ulguess li .tit{}
.cardshowrt .ulguess li img{ display: block; width:264px; }
.ulstars{ width: 110px; overflow: hidden;zoom:1; background: url(../images/cardstar.png) repeat-x; height: 16px;}
.ulstars .li{ width: 22px; float: left; height: 16px; padding: 0px; font-size: 0px;}
.ulstars p{ display: block; height: 16px; background: url("../images/cardstar.png") 0px -20px repeat-x;}
.cardshowrt .ulguess .ulstars{ margin: 12px 0;}


.cardcon{ color: #5f5f5f; }
.cardcon a{ color: #5f5f5f;}
.cardcon img{ display: block;}
.cardban{ min-width: 1200px;}
.cardban img{ display: block; width: 100%;}
.cardlt{ width: 368px; float: left;}
.cardrt{ width: 814px; float: right;}
.cardcell{ border: 1px solid  #e4e4e4; padding: 6px 16px 20px; margin-bottom: 18px;}
.cardcell .tit{ font-size: 20px; text-indent: 12px; border-bottom:2px solid #2058c2; line-height: 50px; color: #4d4d4d; margin-bottom: 16px;}
.cardcell .cardindexintro{ font-size: 16px; line-height: 30px;}
.cardcell .cardindexintro p{ text-indent: 2em;}
.cardsublt{ width: 390px; float: left;}
.cardsubrt{ width: 360px; float: right;}
.cardsubtit{ color: #131926; margin-bottom: 12px; border-bottom: 1px solid #e4e4e4; padding-bottom: 12px; font-size: 16px; text-indent: 8px; }
.ulguanzhu{ font-size: 16px;}
.ulguanzhu li{ border-bottom: 1px solid #efefef; line-height: 38px;}
.ulguanzhu li em{ font-style: normal; border-bottom: 1px solid #efefef; line-height: 38px; display: inline-block; color: #de2d2d; text-align: center; width: 70px;}
.cardre{ font-size: 14px;}
.cardre a{ color: #808080;}
.cardre .pic{ display: block; width: 194px; float: left;}
.cardre ul{ margin-left: 200px;}
.cardre ul li{ line-height: 22px; margin-bottom:16px; }
.cardre ul li:last-child{ margin-bottom: 0;}
.cardre ul li em{ display: inline-block; width: 44px; text-align: center; height: 22px; color: #fff; background: #b81818; font-style: normal; margin-right: 8px;}
.ulelsere{ font-size: 14px; color: #808080;}
.ulelsere a{ color: #808080;}
.ulelsere li{ overflow: hidden;zoom:1; margin-bottom: 10px;}
.ulelsere li p{ display: block; margin-right:174px; line-height: 20px;}
.ulelsere li p em{ font-weight: bold; font-style: normal; color: #de2d2d; margin-right: 4px;}
.ulelsere img{ float: right;}
.ulcardlogos{ text-align: center; font-size: 14px;}
.ulcardlogos li{ float: left; width: 25%;}
.ulcardlogos li img{ margin: 0 auto; margin-bottom: 8px;}
.ulcardlogos li .name{}
.ulcardcontact{ font-size: 14px;}
.ulcardcontact li{ float: left; width: 40%; margin-left: 40px;}
.ulcardcontact li img{ display: inline-block; vertical-align: middle; margin-right: 20px;}








