#news-content{width: 100%;min-width: 1200px;background: #fff;margin-bottom: 60px;border-top: 1px solid #ccc;padding-top: 20px;}
#news-content table{border-collapse: collapse;width: 100%;}
#news-content table td{padding-top: 22px;text-align: left;vertical-align: top;}
#news-content table td.col-left{width: 855px;padding-right: 20px;box-sizing: border-box;}
#news-content table td.col-left .banner-box{width: 814px;border: 1px solid #ccc;}
#news-content table td.col-left .banner-box img{display: block;}
#news-content table td.col-right{width: 367px;}
#news-content table td.col-right form{width: 370px;height: 45px;line-height: 45px;border: 1px solid #ccc;background: #f8f8f8;border-radius: 3px;}
#news-content table td.col-right input[type="text"]{width: 325px;height: 45px;line-height: 45px;background: transparent;text-indent: 5px;}
#news-content table td.col-right input[type="submit"]{width: 30px;height: 30px;background: url(../images/search.png) no-repeat center;text-indent: -9999px;cursor: pointer;}
#news-content table td.col-right dl{border: 1px solid #ccc;padding: 9px 12px;box-sizing: border-box;margin-top: 10px;}
#news-content table td.col-right dl dt{font-size: 20px;color: #4d4d4d;border-bottom: 1px solid #2058c2;padding: 15px 7px;}
#news-content table td.col-right dl dd{font-size: 16px;color: #696b76;border-bottom: 1px dashed #eee;line-height: 25px;padding: 6px 0;}
#news-content table td.col-right dl.img-center{margin-top: 0;}
#news-content table td.col-right dl.img-center dd{text-align: center;margin-top: 18px;}
#news-content table td.col-right dl.hot{margin-top: 0;}
#news-content table td.col-right dl.hot dd{border: none;margin-top: 11px;}
/*#news-content table td.col-right dl.hot.special dd{margin-top: 3px;}*/
#news-content table td.col-right dl.hot dd img{display: block;}
#news-content table td.col-right dl dd:last-child{border-bottom: none;}
#news-content table td.col-right dl dd a{color: #696b76;}
#news-content table td.col-right dl dd i{color: #e60012;font-style: normal;font-size: 12px;position: relative;top: -3px;margin: 0 6px;}
#news-content table td.col-right dl dd span{float: right;padding-right: 5px;}
#news-content .article{border: 1px solid #ccc;padding: 20px;box-sizing: border-box;}
#news-content .article h5{font-size: 20px;color: #4d4d4d;border-bottom: 1px solid #2058c2;padding: 10px 7px;font-weight: normal;}
#news-content .article h5 a{float: right;font-size: 16px;color: #333;}
#news-content .article dl{padding-top: 22px;}
#news-content .article dl dt{float: left;}
#news-content .article dl dd{margin: 5px 0 0 350px;font-size: 16px;color: #696b76;line-height: 25px;border-bottom: 1px solid #eee;padding-bottom: 5px;}
#news-content .article dl dd:last-child{border: none;}
#news-content .article dl dd a{color: #696b76;}
#news-content .article dl dd a:hover{color: #333;}
#news-content .article dl dd i{font-style: normal;margin-right: 20px;color: #1c62e4;font-size: 12px;position: relative;top: -2px;}
#news-content .article .banner-img{margin-top: 50px;}
#news-content .article .float-left{float: left;width: 380px;}
#news-content .article .float-left dd{margin-left: 0;padding-left: 15px;}
#news-content .article .float-left dl{padding-top: 5px;}
#news-content .article .float-left:nth-of-type(2){margin-left: 14px;}
#news-content .article .no-left{clear: both;padding-top: 41px;}
#news-content .article .no-left dt{float: none;font-size: 16px;color: #3d3e40;font-weight: bold;padding-left: 15px;}
#news-content .article .no-left dt i{font-style: normal;margin-right: 20px;color: #1c62e4;font-size: 12px;position: relative;top: -2px;}
#news-content .article .no-left dd{margin: 10px 0 0 0;border: none;font-size: 14px;color: #696b76;padding-left: 42px;line-height: 30px;}
#news-content .article .no-left dd.text-right{text-align: right;font-size: 16px;}
#news-content .article .no-left dd.text-right a{color: #333;}
#news-content .article .recomment-comp{margin-top: 20px;}
#news-content .article .recomment-comp img{margin: 0 22px;}
#nav.hotspot-nav{background: none;border: none;padding: 0;margin-top: 20px;}
#nav.hotspot-nav .container{background: #f5f5f5;border-top: 1px solid #2058c2;padding: 20px 0;}
.hotspot-box{border: 1px solid #ccc;padding: 30px 40px;}
.hotspot-left{float: left;width: 544px;}
.hotspot-left h3{font-size: 24px;color: #1c1c1c;font-weight: normal;text-align: center;}
.hotspot-left h5{font-size: 16px;color: #696b76;font-weight: normal;text-align: center;margin: 16px 0 50px;}
.hotspot-left p{font-size: 16px;color: #696b76;line-height: 32px;}
.hotspot-more{font-size: 16px;color: #696b76;background: #f5f5f5;border-top: 1px solid #2058c2;padding: 20px 40px 20px 8px;font-weight: normal;margin: 16px 0;}
.hotspot-more a{float: right;color: #696b76;}