body,div,span,h1,h2,h3,h4,h5,h6,p,a,ol,ul,li,dl,dt,dd,input,img,form,button,blockquote{margin:0; padding:0; list-style:none; border:0;}
body{font-size:12px;font-family: "Microsoft YaHei"; }
a{text-decoration:none; color:#000;border:none;padding:0px;margin:0px;}
a:hover{text-decoration:none;}
img{ border:none;}
input{ outline:none;}
ul,li,ol,input{ list-style:none;}
input,button,select,textarea{outline:none}/*取消聚焦*/
.left{ float:left;}/*左浮动*/
.right{ float:right;}/*右浮动*/

.clearfix{ zoom:1; position:relative; overflow:hidden; display:block;}
.clearfix:after{ content:" "; position:absolute; width:0px; height:0px; clear:both;}


.container{width: 1200px;margin: 0 auto;}

/*公用顶部*/
#top{width: 100%;background: #f7f7f7;}
#top li{display: inline-block;line-height: 40px;font-size: 14px;color: #666;}
#top li a{color: #666;}
#logo{width: 100%;background: #fff;}
#logo h1{float: left;}
#logo h1 img{display: block;}
#logo .return{float: right;line-height: 76px;}
#logo .return a{color: #2058c2;font-size: 16px;}
#logo ul{float: right;}
#logo ul li{display: inline-block;line-height: 76px;font-size: 16px;}
#logo ul li a{padding: 0 15px;}
#logo ul li:last-child a{padding-right: 0;}
#logo ul li.on a{border-bottom: 1px solid #bb1616;color: #bb1616;padding-bottom: 9px;}
#nav{width: 100%;background: #f5f5f5;padding: 20px 0;border-top: 1px solid #bbbec4;border-bottom: 1px solid #eee;}
#nav li{display: inline-block;font-size: 14px;}
#nav li:first-child a{color: #bb1616;background: url(images/home.png) no-repeat 12px center;padding-left: 35px;}
#nav li:nth-child(2n){margin: 0 14px;}
#nav li a{color: #393939;}
#search{width: 100%;padding: 15px 0;border-bottom: 1px solid #eee;}
#search .tips{float: left;background: url(images/tips.png) no-repeat 10px center;padding-left: 49px;font-size: 14px;color: #444;line-height: 48px;}
#search form{float: right;width: 441px;height: 46px;border-radius: 46px;border: 1px solid #dadada;background: #f8f8f8;}
#search form input{font-size: 16px;color: #dadada;background: transparent;line-height: 46px;text-indent: 22px;}
#search form input[type="text"]{width: 80%;}
#search form input[type="submit"]{background: url(images/search.png) no-repeat center;float: right;color: transparent;cursor: pointer;}
/*公用底部*/
#footer{width: 100%;padding: 50px 0;background: #787c7f;}
#footer ul,#footer p{text-align: center;color: #e3e0e0;}
#footer ul{margin-bottom: 40px;}
#footer p{line-height: 35px;font-size: 16px;}
#footer li,#footer span{display: inline-block;color: #e3e0e0;font-size: 18px;}
#footer li a{padding: 0 20px;color: #e3e0e0;font-size: 18px;}

/*内容*/
#content{padding: 18px 0 76px;}
#content .side-left{width: 308px;min-height: 1043px;border: 5px solid #fff;background: #f7f7f7;float: left;box-shadow: 0px 0px 10px 0 rgba(167,167,167,0.75);padding-top: 132px;position: relative;margin: 1px 5px 5px;}
#content .side-left h2{width: 320px;height: 95px;background: #275aba;position: absolute;top: 23px;left: -7px;}
#content .side-left h2 img{position: relative;top: 23px;left: 56px;}
#content .side-left li{line-height: 49px;border-bottom: 1px solid #e8e8e8;padding-left: 80px;}
#content .side-left li a{font-size: 18px;color: #383838;}
#content table{float: right;width: 865px;border-collapse:collapse;}
#content table td{border: 1px solid #e4e4e4;font-size: 16px;padding: 20px;}
#content table td h5{font-size: 22px;font-weight: 500;}
#content table tr { height:50px}
#content table tr .td-center{ text-align:center}
#content table tr .td-text{ vertical-align: top;line-height: 26px;padding-bottom: 73px;}

/*产业项目*/
#content .industry .industry-left{width: 260px;border: 2px solid #f2f2f2;float: left;padding-top: 95px;position: relative;}
#content .industry .industry-left h2{width: 264px;height: 95px;background: #275aba;position: absolute;top: -2px;left: -2px;}
#content .industry .industry-left h2 img{position: relative;top: 25px;left: 19px;}
#content .industry .industry-left li{line-height: 49px;padding-left: 80px;list-style: circle;}
#content .industry .industry-left li a{font-size: 16px;color: #bd1514;}
#content .industry .industry-right{float: right;width: 922px;border: 1px solid #e4e4e4;}
#content .industry .industry-right h5{line-height: 54px;background: #e3ebf2;padding-left: 14px;font-weight: normal; }
#content .industry .industry-right h5 span{border-left: 3px solid #275aba;color: #275aba;font-size: 18px;padding-left: 10px;}
#content .industry .industry-right h5 i{color: #575757;font-style: normal;font-size: 16px;}
#content .industry .industry-right dl{padding: 50px 44px 0;text-align: center;}
#content .industry .industry-right dt{float: left;text-align: right;font-size: 16px;width: 284px;}
#content .industry .industry-right dd{margin: 0 0 34px 284px;text-align: left;}
#content .industry .industry-right dd input,#content .industry .industry-right dd select{width: 260px;height: 23px;border: 1px solid #d6d6d6;text-indent: 20px;font-size: 16px;}